<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!--
    配置过滤器
    -->
    <filter>
        <filter-name>loggingFilter</filter-name>
        <filter-class>filter.LoggingFilter</filter-class>
    </filter>
    <!-- 配置过滤器的过滤资源规则  路径-->
    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <!-- 根据请求的资源路径，对指定的请求进行过滤
        /a/* 过滤以a开头的资源-->

        <url-pattern>/*</url-pattern>
    </filter-mapping>

    -->
</web-app>